<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./public/style/style.css" />
    <title>ADEHUN</title>
  </head>
  <body>
    <!-- Section Container -->
    <div class="relative font-adreg">
      <!-- Header Section starts here -->
      <header class="relative" id="header">
        <section id="heroSection" class="font-adreg">
          <!-- Header section container -->
          <div class="min-h-screen bg-dark">
            <!-- NavBar Section -->
            <div class="container" aria-labelledby="Header">
              <!-- Navbar starts here -->
              <nav
                id="NavBar"
                class="flex justify-between items-center gap-4 py-8 text-sm"
                aria-labelledby="Navbar"
              >
                <!-- Nav Logo starts here -->
                <div class="w-8 flex items-center">
                  <!-- Logo -->
                  <img
                    src="./public/assets/Logo/Group 37467.png"
                    alt="Adehun logo"
                    class="w-full h-full object-contain"
                  />
                </div>
                <!-- Nav Links starts here -->
                <ul
                  class="flex justify-between items-center text-white gap-3 h-[52px] bg-gray-400/5 px-2 border-none py-2 box-border navlinks"
                  aria-labelledby="Menu-bar"
                >
                  <!-- Links -->
                  <a href="#"><li>Developer</li></a>
                  <a href="#">
                    <li class="flex flex-row items-center gap-2">
                      Solution
                      <p
                        class="bg-white flex items-center justify-center rounded-full"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="14"
                          height="14"
                          viewBox="0 0 24 24"
                          style="fill: rgba(0, 0, 0, 1)"
                        >
                          <path
                            d="m18.707 12.707-1.414-1.414L13 15.586V6h-2v9.586l-4.293-4.293-1.414 1.414L12 19.414z"
                          ></path>
                        </svg>
                      </p>
                    </li>
                  </a>
                  <a href="#">
                    <li class="flex flex-row items-center gap-2">
                      Use Cases
                      <p
                        class="bg-white flex items-center justify-center rounded-full"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="14"
                          height="14"
                          viewBox="0 0 24 24"
                          style="fill: rgba(0, 0, 0, 1)"
                        >
                          <path
                            d="m18.707 12.707-1.414-1.414L13 15.586V6h-2v9.586l-4.293-4.293-1.414 1.414L12 19.414z"
                          ></path>
                        </svg>
                      </p>
                    </li>
                  </a>
                  <a href="#"><li>DAO</li></a>
                </ul>
                <!-- Navbar Button starts here -->
                <div>
                  <!-- Create Contract btn with icon starts here -->
                  <button
                    class="bg-gray-400/5 h-[52px] pl-4 pr-2 flex items-center flex-row py-4 rounded-[40px] text-white justify-center gap-4 box-border navBtnIcon"
                    aria-label="Create Contract"
                    >Create Contract
                    <!-- Button Icon -->
                    <div
                      class="bg-gray-400/10 rounded-full box-border w-[40px] h-[40px] flex justify-center items-center btnIconInner"
                    >
                      <div class="w-4 bg-white rounded-full">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="inherit"
                          height="inherit"
                          viewBox="0 0 24 24"
                          style="fill: rgba(0, 0, 0, 1)"
                        >
                          <path
                            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                  </button>
                </div>
              </nav>
              <!-- Hero Section starts here -->
              <div
                class="relative pt-32"
                id="HeroSection"
                aria-labelledby="Hero Section"
              >
                <!-- Hero Section Wrapper -->
                <div class="grid grid-cols-2">
                  <!-- Hero Section Content -->
                  <div class="text-white flex flex-col gap-6 max-w-md">
                    <!-- Title content -->
                    <h1
                      class="text-7xl font-extrabold leading-[5rem] tracking-wider"
                    >
                      Decentralized <br />
                      Escrow For <br />
                      Web3
                    </h1>
                    <!-- Paragraph content -->
                    <p class="text-sm leading-normal">
                      Adehun is a decentralized payment protection system for
                      Web3 that allows parties to establish trust while using
                      peer-to-peer crypto payments.
                    </p>
                    <!-- Hero Button starts here -->
                    <p class="text-sm flex flex-row gap-2 mt-6 heroBtn">
                      <!-- Hero Button -->
                      <button
                        class="bg-gray-400/5 px-6 flex items-center py-4 rounded-[40px] text-white justify-center box-border"
                        >Create An Account</button
                      >
                      <!-- Hero Button -->
                      <button
                        class="bg-none px-6 flex items-center py-4 rounded-[40px] text-white justify-center box-border"
                        >Create Contract</button
                      >
                    </p>
                  </div>
                  <!-- Hero Section Image -->
                  <div class="relative w-[630px] -top-7">
                    <img
                      src="./public/assets/fluid_like_shape_1809.png"
                      alt="Adehun Fluid picture"
                      class="w-full h-full object-contain"
                    />
                  </div>
                </div>
              </div>
            </div>
            <!-- Hero Section base starts here -->
            <div
              class="relative pt-16 pb-24"
              id="HeroSectionBase"
              aria-labelledby="Hero Section"
            >
              <div class="container z-50">
                <!-- Hero Section Base Wrapper -->
                <div class="grid grid-cols-2 items-center">
                  <!-- Hero Section Base Content -->
                  <div class="text-white flex flex-col gap-6 max-w-md">
                    <!-- Title content -->
                    <h2 class="text-4xl font-bold tracking-wider"
                      >A trustless escrow experience</h2
                    >
                    <!-- Paragraph content -->
                    <p class="text-sm leading-normal">
                      A decentralized approach to protect freelancers, shoppers
                      and business in web3.
                    </p>
                    <!-- Hero Base Button starts here -->
                    <p class="text-sm flex flex-row gap-2 mt-6 heroBtn">
                      <!-- Hero Button -->
                      <button
                        class="bg-gray-400/5 px-6 flex items-center py-4 rounded-[40px] text-white justify-center box-border"
                        >Create An Account</button
                      >
                    </p>
                  </div>
                  <!-- Hero Section Base Image -->
                  <div class="flex justify-end">
                    <img
                      src="./public/assets/image 127.png"
                      alt="Trustless experience"
                      class="w-[500px] h-full object-contain"
                    />
                  </div>
                </div>
              </div>
              <!-- Hero Background -->
              <div class="w-full absolute bottom-16">
                <img
                  src="./public/assets/Group 38644.png"
                  alt=""
                  class="w-full h-fit object-contain"
                />
              </div>
            </div>
          </div>
        </section>
      </header>
      <!-- Header Section ends here -->
      <!-- Main Section starts here -->
      <main class="relative" id="main">
        <!-- Feature Section starts here -->
        <section id="features" aria-labelledby="Features">
          <!-- Features Body -->
          <div class="bg-secondary py-20 relative">
            <!-- Features Container -->
            <div class="container">
              <!-- Feature Wrapper -->
              <div class="grid grid-cols-10">
                <!-- Feature Main -->
                <div
                  class="col-span-3 flex flex-col"
                  aria-labelledby="Leveraging blockchain"
                >
                  <div class="max-w-sm flex flex-col gap-4">
                    <!-- Feature Title -->
                    <h2 class="text-4xl font-bold tracking-wider text-white"
                      >Leveraging blockchain for payment & dispute reolution</h2
                    >
                    <!-- Button starts here -->
                    <p class="text-sm flex flex-row gap-2 mt-8 featureBtn">
                      <!-- Explore Feature Button -->
                      <button
                        class="bg-transparent px-12 flex items-center py-3 rounded-[40px] text-white justify-center box-border border border-white"
                        aria-label="Explore Feature"
                        >Explore All</button
                      >
                    </p>
                  </div>
                </div>
                <!-- Features List card wrapper -->
                <div class="col-span-6 col-start-5 text-white">
                  <div class="grid grid-cols-2 gap-x-16 gap-y-32 featureList">
                    <!-- Features list card -->
                    <div
                      class="w-11/12 flex flex-col gap-3"
                      aria-labelledby="Simple Escrow"
                    >
                      <!-- Image -->
                      <img
                        src="./public/assets/blockchain (2) 1.png"
                        alt="Simple Escrow"
                        class="w-12 h-12 object-contain"
                      />
                      <!-- Title -->
                      <h4 class="text-lg">Simple Escrow</h4>
                      <!-- Paragraph -->
                      <p class="text-sm leading-loose">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptate beatae ex optio provident, esse quaerat
                      </p>
                    </div>
                    <!-- Features list card -->
                    <div
                      class="w-11/12 flex flex-col gap-3"
                      aria-labelledby="Multi Client Escrow"
                    >
                      <!-- Image -->
                      <img
                        src="./public/assets/blockchain (2) 1.png"
                        alt="Simple Escrow"
                        class="w-12 h-12 object-contain"
                      />
                      <!-- Title -->
                      <h4 class="text-lg">Multi-client Escrow</h4>
                      <!-- Paragraph -->
                      <p class="text-sm leading-loose">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptate beatae ex optio provident, esse quaerat
                      </p>
                    </div>
                    <!-- Features list card -->
                    <div
                      class="w-11/12 flex flex-col gap-3"
                      aria-labelledby="Multi Contractor Escrow"
                    >
                      <!-- Image -->
                      <img
                        src="./public/assets/blockchain (2) 1.png"
                        alt="Simple Escrow"
                        class="w-12 h-12 object-contain"
                      />
                      <!-- Title -->
                      <h4 class="text-lg">Multi-contractor Escrow</h4>
                      <!-- Paragraph -->
                      <p class="text-sm leading-loose">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptate beatae ex optio provident, esse quaerat
                      </p>
                    </div>
                    <!-- Features list card -->
                    <div
                      class="w-11/12 flex flex-col gap-3"
                      aria-labelledby="Decentralized Legal System"
                    >
                      <!-- Image -->
                      <img
                        src="./public/assets/blockchain (2) 1.png"
                        alt="Simple Escrow"
                        class="w-12 h-12 object-contain"
                      />
                      <!-- Title -->
                      <h4 class="text-lg">Decentralized Legal System</h4>
                      <!-- Paragraph -->
                      <p class="text-sm leading-loose">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptate beatae ex optio provident, esse quaerat
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Developers tools starts here -->
        <section id="developerTools" aria-labelledby="Developers Tools">
          <!-- Developers tools -->
          <div class="bg-dark pt-20 pb-32 relative">
            <!-- Developers tools Container -->
            <div class="container">
              <div class="grid grid-cols-2 items-center">
                <!-- Developers tools Content -->
                <div class="text-white flex flex-col gap-6 max-w-md">
                  <!-- Base -->
                  <div class="text-xs font-bold"
                    ><span class="text-secondary uppercase"
                      >Developers Tools</span
                    ></div
                  >
                  <!-- Title -->
                  <h2 class="text-4xl font-bold tracking-wider"
                    >Integrate adehun into your apps</h2
                  >
                  <!-- Paragraph -->
                  <p class="text-sm leading-loose">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Placeat quisquam voluptas aliquam atque. Similique aperiam
                    magnam ipsa repellendus nam natus quo sint? Ipsa totam quos
                    consectetur consequatur natus. Dignissimos, soluta.
                  </p>
                </div>
                <!-- Developers tools Image -->
                <div class="flex justify-end">
                  <img
                    src="./public/assets/image 125.png"
                    alt="Developers Tool"
                    class="w-11/12"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Use Cases starts here -->
        <section id="useCases">
          <!-- Use Cases-->
          <div class="bg-dark py-20 relative">
            <!-- Use Cases Container -->
            <div class="container">
              <div class="grid grid-cols-2 items-center">
                <!-- Use Cases Image -->
                <div class="flex justify-start">
                  <img
                    src="./public/assets/image 125.png"
                    alt="Developers Tool"
                    class="w-11/12"
                  />
                </div>
                <!-- Use Cases Scroll Text -->
                <div
                  class="relative w-full h-full flex items-center justify-end"
                >
                  <div class="flex flex-col max-h-[190px] overflow-y-auto">
                    <div class="text-white flex flex-col gap-4 max-w-md">
                      <!-- Icon -->
                      <div></div>
                      <!-- Title -->
                      <h2 class="text-4xl font-bold tracking-wider"
                        >Escrow Payment</h2
                      >
                      <!-- Paragraph -->
                      <p class="text-sm leading-loose">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Placeat quisquam voluptas aliquam atque. Similique
                        aperiam magnam ipsa repellendus nam natus quo sint? Ipsa
                        totam quos consectetur consequatur natus. Dignissimos,
                        soluta.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Chain support starts here -->
        <section id="chainSupport" aria-labelledby="Suppoted Chain">
          <!-- Supported Chain -->
          <div class="bg-dark pt-20 relative">
            <!-- Supported Chain Container -->
            <div class="container">
              <div
                class="grid grid-cols-2 items-center pb-28 border-b border-gray-50/10"
              >
                <!-- Supported Chain Content -->
                <div class="text-white flex flex-col gap-6 max-w-md">
                  <!-- Title -->
                  <h2 class="text-4xl font-bold tracking-wider"
                    >The Largest Choice to fit perfectly with your web3
                    business</h2
                  >
                  <!-- Paragraph -->
                  <p class="text-sm leading-loose"
                    >Supports Stable And Non-stable coins, CUSD, CEUR, CELO,
                    USDT, BNB, BUSD, MATIC Etc.</p
                  >
                </div>
                <!-- Developers tools Image -->
                <div class="flex justify-end">
                  <img
                    src="./public/assets/image 125.png"
                    alt="Developers Tool"
                    class="w-11/12"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Trusted Partner starts here -->
        <section id="trustedPartner" aria-labelledby="Trusted Partner">
          <!-- Trusted Partner -->
          <div class="flex flex-col py-16 bg-dark">
            <!-- Trusted Partner container -->
            <div class="container">
              <!-- Section title -->
              <div class="text-white flex flex-col justify-center text-center">
                <h2 class="text-4xl font-bold tracking-wider"
                  >Trusted by exclusive partner</h2
                >
              </div>
              <!-- Trusted partner image wrapper -->
              <div class="overflow-x-auto" id="trustedPartnerWrapper">
                <div
                  class="flex flex-row flex-nowrap gap-14 justify-between place-content-center items-center mt-10"
                  aria-labelledby="Adehun Trusted Partners"
                >
                  <!-- Trusted partner image -->
                  <img
                    src="./public/assets/image 115.png"
                    alt="Opolo"
                    class="w-[120px] h-14 object-contain hover:opacity-50 transition-all"
                  />
                  <!-- Trusted partner image -->
                  <img
                    src="./public/assets/DFMlabWhite@150x.png"
                    alt="DFMLab"
                    class="w-[120px] h-14 object-contain hover:opacity-50 transition-all"
                  />
                  <!-- Trusted partner image -->
                  <img
                    src="./public/assets/image 117.png"
                    alt="EduFund"
                    class="w-[120px] h-14 object-contain hover:opacity-50 transition-all"
                  />
                  <!-- Trusted partner image -->
                  <img
                    src="./public/assets/image 118.png"
                    alt="Celo"
                    class="w-[120px] h-14 object-contain hover:opacity-50 transition-all"
                  />
                  <!-- Trusted partner image -->
                  <img
                    src="./public/assets/image 119.png"
                    alt="Ari"
                    class="w-[120px] h-14 object-contain hover:opacity-50 transition-all"
                  />
                  <!-- Trusted partner image -->
                  <img
                    src="./public/assets/DFMlabWhite@150x.png"
                    alt="DFMLab"
                    class="w-[120px] h-14 object-contain hover:opacity-50 transition-all"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Review starts here -->
        <section id="review" aria-labelledby="Review">
          <!-- Review -->
          <div class="flex flex-col pt-16 pb-32 bg-white">
            <!-- Review container -->
            <div class="container">
              <div class="relative py-5">
                <!-- Review title -->
                <div class="flex flex-col items-center text-center">
                  <div
                    class="text-dark flex flex-col justify-center text-center"
                  >
                    <!-- title -->
                    <h2 class="text-4xl font-bold tracking-wider"
                      >Why users love adehun</h2
                    >
                  </div>
                </div>
                <!-- Review card wrapper -->
                <div
                  class="flex flex-col justify-between items-center py-4 md:flex-row md:space-x-8"
                >
                  <!-- Review card -->
                  <div
                    class="py-12 px-12 bg-white shadow_primary rounded-3xl space-y-10 md:w-1/2 relative md:block"
                  >
                    <div class="max-w-sm">
                      <!-- Review text -->
                      <p class="text-sm text-dark leading-7">
                        "We have been waiting on this produot and now that we
                        have installed a few, We think it wil make the industry
                        by storm"
                      </p>
                      <!-- Review user -->
                      <div class="flex flex-col space-y-1 mt-10">
                        <span class="text-lg font-extrabold">J.Godspower</span>
                        <span class="text-sm">Software Engineer</span>
                      </div>
                      <!-- Review image -->
                      <div class="customer_quote">
                        <img src="./public/assets/Group 38645.png" alt="" />
                      </div>
                    </div>
                  </div>
                  <!-- Review card -->
                  <div
                    class="py-12 px-12 bg-white shadow_primary rounded-3xl space-y-10 md:w-1/2 relative md:block"
                  >
                    <div class="max-w-sm">
                      <!-- Review text -->
                      <p class="text-sm text-dark leading-7">
                        "We have been waiting on this produot and now that we
                        have installed a few, We think it wil make the industry
                        by storm"
                      </p>
                      <!-- Review user -->
                      <div class="flex flex-col space-y-1 mt-10">
                        <span class="text-lg font-extrabold">J.Godspower</span>
                        <span class="text-sm">Software Engineer</span>
                      </div>
                      <!-- Review image -->
                      <div class="customer_quote">
                        <img src="./public/assets/Group 38645.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex flex-row space-x-4 justify-center pt-10">
                  <span
                    class="w-3 h-3 bg-secondary/50 rounded-full transition-all"
                  ></span>
                  <span
                    class="w-3 h-3 bg-secondary rounded-full transition-all"
                  ></span>
                  <span
                    class="w-3 h-3 bg-secondary/50 rounded-full transition-all"
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Newsletter starts here -->
        <section id="newsletter" aria-labelledby="Newsletter">
          <!-- Newsletter -->
          <div class="flex flex-col bg-dark relative">
            <!-- Newsletter container -->
            <div class="container">
              <!-- Newsletter wrapper -->
              <div
                class="bg-secondary px-20 py-16 rounded-[2rem] relative -top-20"
              >
                <!-- Newsletter -->
                <div
                  class="grid md:grid-cols-5 gap-y-10 md:gap-y-0 items-center"
                >
                  <div
                    class="flex flex-col md:col-span-3 text-white max-w-sm gap-y-4"
                  >
                    <!-- text -->
                    <h3
                      class="text-2xl tracking-wide leading-[1.8] font-semibold"
                      >Let's make your smart contract and increase the efficency
                      of your businees. lorem</h3
                    >
                  </div>
                  <div class="flex flex-col md:col-span-2">
                    <!-- newsletter input -->
                    <!-- text -->
                    <h2 class="text-lg font-normal tracking-wide text-white"
                      >Subscribe to mailing list</h2
                    >
                    <!-- input -->
                    <div class="flex flex-row mt-6 relative">
                      <input
                        type="text"
                        class="text-sm flex-1 bg-transparent border h-[52px] py-4 border-gray-200/40 rounded-full px-8 outline-none text-white"
                        placeholder="Enter your email address"
                      />
                      <button
                        class="bg-dark w-18 h-[52px] pl-4 pr-2 flex items-center flex-row py-4 rounded-[40px] text-white justify-center gap-4 box-border absolute right-0"
                        aria-label="Create Contract"
                        >Submit
                        <!-- Button Icon -->
                        <div
                          class="bg-gray-400/10 rounded-full box-border w-[40px] h-[40px] flex justify-center items-center btnIconInner"
                        >
                          <div class="w-4 bg-white rounded-full">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="inherit"
                              height="inherit"
                              viewBox="0 0 24 24"
                              style="fill: rgba(0, 0, 0, 1)"
                            >
                              <path
                                d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
                              ></path>
                            </svg>
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- main Section ends here -->
      <!-- footer starts here -->
      <footer class="relative" id="header">
        <!-- footer -->
        <section id="footer" aria-labelledby="Footer">
          <div class="flex flex-col bg-dark relative pb-12">
            <!-- footer cobntainer -->
            <div class="container">
              <!-- footer wrapper -->
              <div class="relative">
                <div class="grid grid-cols-4 space-x-16">
                  <!-- footer column -->
                  <div class="flex flex-col gap-6 text-white">
                    <!-- footer logo -->
                    <img
                      src="./public/assets/Logo/Group 37467.png"
                      alt="Adehun footer logo"
                      class="w-8 object-contain"
                    />
                    <p class="text-sm"
                      >if you have a question, please contact at
                      <span class="underline">hello@adehun.com</span></p
                    >
                    <div>
                      <span class="text-base">Follow Us On</span>
                      <div class="flex flex-row gap-x-3 mt-2">
                        <img
                          src="./public/assets/F.png"
                          alt="Twitter"
                          class="w-6 h-6 object-contain"
                        />
                        <img
                          src="./public/assets/L.png"
                          alt="Twitter"
                          class="w-6 h-6 object-contain"
                        />
                        <img
                          src="./public/assets/T.png"
                          alt="Twitter"
                          class="w-6 h-6 object-contain"
                        />
                        <img
                          src="./public/assets/R.png"
                          alt="Twitter"
                          class="w-6 h-6 object-contain"
                        />
                        <img
                          src="./public/assets/I.png"
                          alt="Twitter"
                          class="w-6 h-6 object-contain"
                        />
                      </div>
                    </div>
                  </div>
                  <!-- footer column -->
                  <div class="flex flex-col gap-y-4 text-sm text-white">
                    <h4 class="ffont-medium text-base">Company</h4>
                    <ul
                      class="flex flex-col list-none gap-y-4 leading-relaxed mt-3 text-gray-400"
                    >
                      <a href="#"><li>Support</li></a>
                      <a href="#"><li>Privacy Policy</li></a>
                      <a href="#"><li>Terms and Condition</li></a>
                      <a href="#"><li>LearningHub</li></a>
                    </ul>
                  </div>
                  <!-- footer column -->
                  <div class="flex flex-col gap-y-4 text-sm text-white">
                    <h4 class="font-medium text-base">Use cases</h4>
                    <ul
                      class="flex flex-col list-none gap-y-4 leading-relaxed mt-3 text-gray-400"
                    >
                      <a href="#"><li>Market</li></a>
                      <a href="#"><li>Personal Saving</li></a>
                      <a href="#"><li>Assets Inheritance</li></a>
                      <a href="#"><li>Crypto assets protection</li></a>
                      <a href="#"><li>Crypto assets protection</li></a>
                    </ul>
                  </div>
                  <!-- footer column -->
                  <div class="flex flex-col gap-y-4 text-sm text-white">
                    <h4 class="ffont-medium text-base">System external</h4>
                    <ul
                      class="flex flex-col list-none gap-y-4 leading-relaxed mt-3 text-gray-400"
                    >
                      <a href="#"><li>Developer</li></a>
                      <a href="#"><li>Freelancer</li></a>
                      <a href="#"><li>DAO member</li></a>
                      <a href="#"><li>DAO Third Party System</li></a>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </footer>
      <!-- Footer starts ends here -->
    </div>
  </body>
</html>
