<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adehun</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- hero section  -->
    <section id="header_section" class="h-auto xcrow_theme_bg md:min-h-screen">
        <!-- navigation -->
        <div class="border-b border-gray-500">
            <nav class="container px-6 flex flex-row items-center justify-between mx-auto py-9">
                <h1 class="text-2xl text-white font-xcrow_smb">Adehun</h1>
                <div class="hidden font-xcrow_rg text-white flex flex-row space-x-6 text-sm md:block">
                    <a href="#">About Us</a>
                    <a href="#">How it Works</a>
                    <a href="#">Resolution Center</a>
                    <a href="#">FAQs</a>
                    <a href="#">My Contract</a>
                    <a href="#" class="border border-gray-400 px-3 py-3 rounded">Launch X_Crow App</a>
                </div>

                <!-- Hamburger Icon -->
                <button
                    id="menu-btn"
                    class="block hamburger md:hidden focus:outline-none">
                    <span class="hamburger-top"></span>
                    <span class="hamburger-middle"></span>
                    <span class="hamburger-bottom"></span>
                </button>   
                
            </nav>
        </div>
        <div class="container mx-auto p-6 absolute">
            <!-- Mobile Menu -->
            <div class="md:hidden">
                <div id="menu"
                class="absolute flex-col items-center hidden self-end py-8 space-y-6 font-bold bg-gray-100 sm:w-auto sm:self-center left-6 right-6 drop-shadow-md">
                    <a href="#">About Us</a>
                    <a href="#">How it Works</a>
                    <a href="#">Resolution Center</a>
                    <a href="#">FAQs</a>
                    <a href="#">My Contract</a>
                    <a href="#" class="">Launch X_Crow App</a>
                </div>
            </div>
        </div>
        <!-- hero -->
        <div id="hero">
            <div class="container mx-auto px-6 flex flex-col py-24 space-y-6 items-center justify-between md:flex-row md:space-y-0">
                <div class="flex flex-col space-y-6 md:w-1/2">
                    <!-- slider counter -->
                    <div id="slider_counter" class="flex flex-row space-x-1">
                        <span class="counter counter_open"></span>
                        <span class="counter"></span>
                        <span class="counter"></span>
                    </div>
                    <!-- Hero Header text -->
                    <h2 class="text-4xl md:text-5xl font-xcrow_smb text-white">
                        <span>Remove</span> 
                        <span class="block">The Involvement</span> 
                        <span>Of Any Third Party</span>
                    </h2>
                    <p class="text-white max-w-lg font-xcrow_rg">
                        <span class="font-bold">X_Crow</span> app provides and guarantees trust between two parties using smart contract and DAO for conflict resolution
                    </p>
                    <div class="flex flex-col space-y-6 space-x-0 pt-10 relative md:flex-row md:space-y-0 md:space-x-6">
                        <button class="px-16 text-white text-sm py-4 bg-xcrow_secondary rounded">Create Contract</button>
                        <button class="px-16 text-white text-sm py-4 border rounded">Log In</button>
                    </div>
                </div>
                <!-- Hero image -->
                <div class="w-1/3">
                </div>
            </div>
        </div>
    </section>
    <!-- hero section ends here  -->  

    <!-- X_Crow Purpose -->
    <section id="xcrow_purpose">
        <div class="container mx-auto px-6 py-24 flex flex-col">
            <div class="space-y-5 max-w-4xl border-l-6 border-xcrow_secondary relative pl-8">
                <span class="text-lg font-xcrow_smb text-xcrow_secondary">The Purpose</span>
                <h2 class="text-5xl font-xcrow_rg">What is X_crow ?</h2>
                <p class="purpose_wrapper text-base leading-7">
                    The application can be used with online marketplaces like freelancing platforms, product selling platforms, service listing platforms, crowdfunding platforms and a direct contract between two individuals. The application can be used by buyers and
                    sellers engaging in sales of a particular product, service providers like freelancers offering professional service to a client far
                    away, or a young innovator building a smart solution to solve Africa's energy problems but need to raise funds through
                    crowdfunding.
                </p>
                <a href="#" class="font-xcrow_smb text-base inline-block border-b-2 text-xcrow_secondary border-xcrow_secondary">Learn more about X_Crow</a>
            </div>
        </div>
    </section>

    <!-- X_Crow Purpose -->
    <section id="howItWorks">
        <div class="container mx-auto px-6 py-12 flex flex-col">
            <div class="flex flex-col justify-center space-y-6 mx-auto text-center">
                <h2 class="text-4xl font-xcrow_rg md:text-5xl">How It Works</h2>
                <p class="text-base font-xcrow_rg max-w-lg leading-7">
                    The app is used for protecting all forms of online </br>
                    transactions involving money transfers using cryptocurrency.
                </p>
            </div>
            <div class="flex flex-col flex-wrap justify-center md:flex-row md:space-x-5">
                <div class="bg-white flex flex-col justify-center space-y-6 mt-14 text-center px-10 py-7 md:w-x_18 rounded border-2 border-gray-100 hover:shadow-xl hover:border-white group">
                    <img src="x_crow Asset/Group 11250.svg" alt="Work Out A Contract" class="x_crow_img mx-auto">
                    <h4 class="text-x_base font-xcrow_rg group-hover:font-semibold">Work Out A Contract</h4>
                    <p class="text-sm pb-6">
                        The app is used for protecting all
                        forms of online transactions
                        involving.
                    </p>
                </div>
                <div class="bg-white flex flex-col justify-center space-y-6 mt-14 text-center px-10 py-7 md:w-x_18 rounded border-2 border-gray-100 hover:shadow-xl hover:border-white group">
                    <img src="x_crow Asset/Group 11251.svg" alt="Send Contract To Client" class="x_crow_img mx-auto">
                    <h4 class="text-x_base font-xcrow_rg group-hover:font-semibold">Send Contract To Client</h4>
                    <p class="text-sm pb-6">
                        The app is used for protecting all
                        forms of online transactions
                        involving.
                    </p>
                </div>
                <div class="bg-white flex flex-col justify-center space-y-6 mt-14 text-center px-10 py-7 md:w-x_18 rounded border-2 border-gray-100 hover:shadow-xl hover:border-white group group">
                    <img src="x_crow Asset/Group 11252.svg" alt="Contract Get Funded By The Clien" class="x_crow_img mx-auto">
                    <h4 class="text-x_base font-xcrow_rg group-hover:font-semibold">Contract Get Funded By The Client</h4>
                    <p class="text-sm pb-6">
                        The app is used for protecting all
                        forms of online transactions
                        involving.
                    </p>
                </div>
                <div class="bg-white flex flex-col justify-center space-y-6 mt-14 text-center px-10 py-7 md:w-x_18 rounded border-2 border-gray-100 hover:shadow-xl hover:border-white group">
                    <img src="x_crow Asset/Group 11254.png" alt="Fund ls Locked Up in The Smart Contract" class="x_crow_img mx-auto">
                    <h4 class="text-x_base font-xcrow_rg group-hover:font-semibold">Fund ls Locked Up in The Smart Contract</h4>
                    <p class="text-sm pb-6">
                        The app is used for protecting all
                        forms of online transactions
                        involving.
                    </p>
                </div>
                <div class="bg-white flex flex-col justify-center space-y-6 mt-14 text-center px-10 py-7 md:w-x_18 rounded border-2 border-gray-100 hover:shadow-xl hover:border-white group">
                    <img src="x_crow Asset/Group 11253.png" alt="Fund Released After Reaching A Consensus" class="x_crow_img mx-auto">
                    <h4 class="text-x_base font-xcrow_rg group-hover:font-semibold">Fund Released After Reaching A Consensus</h4>
                    <p class="text-sm pb-6">
                        The app is used for protecting all
                        forms of online transactions
                        involving.
                    </p>
                </div>
            </div>
        </div>
        <div class="howitwork_bg_wrapper">
            <div class="relative"></div>
        </div>
    </section>

    <!-- X_Crow benefit -->
    <section id="benefits">
        <div class="container mx-auto px-6 py-12 flex flex-col md:flex-row">
            <div class="flex flex-col md:w-1/2">
                <div class="bg-xcrow_secondary px-6 py-12 flex flex-col space-y-4 md:px-8">
                    <h3 class="text-xcrow_3xl font-xcrow_smb max-w-md text-white">
                        X_crow ls Your Reliable
                        Decentralized X crow Service
                        Provider
                    </h3>
                    <p class="text-gray-200 max-w-lg text-sm leading-7">
                        X crow provides trust and confidence when purchasing on selling with
                        an anonymous person by assuring that your money le sefe et all times.
                    </p>
                </div>
                <div class="bg-white px-6 py-12 space-y-4 md:px-8">
                    <h3 class="text-xcrow_3xl font-xcrow_smb max-w-md text-black">
                        Secure Every Part Of Your
                        Business With Smart Contract
                    </h3>
                    <p class="text-gray-700 max-w-lg text-sm leading-7">
                        The app is uged for protecting all forms of online
                        transactions Involving money transfers using cryptocurrency.
                    </p>
                    <a href="#" class="font-medium text-base inline-block border-b-2 text-xcrow_secondary border-xcrow_secondary pt-6">Learn more about our unique benefit</a>
                </div>
            </div>
            <div class="flex flex-col md:w-1/2">
                <div class="bg-xcrow_secondary h-full px-6 py-12 flex flex-col place-content-center space-y-12 md:px-8">
                    <div class="flex flex-col md:space-x-6 md:flex-row">
                        <div class="x_crow_benefit_img_container mb-6 md:mb-0">
                            <img src="x_crow Asset/Group 11255.png" alt="Trustless Transactions" class="x_crow_benefit_img_li">
                        </div>
                        <div class="flex flex-col space-y-2">
                            <h4 class="text-2xl font-xcrow_smb text-white">Trustless Transactions</h4>
                            <p class="text-sm leading-7 text-gray-300">
                                Because everything is decontralized and autonomous you will
                                never have to disclose your data or worry about your funds being
                                safe with us.
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-col md:space-x-6 md:flex-row">
                        <div class="x_crow_benefit_img_container mb-6 md:mb-0">
                            <img src="x_crow Asset/Group 11256.png" alt="Multichain And Payment Channels" class="x_crow_benefit_img_li">
                        </div>
                        <div class="flex flex-col space-y-2">
                            <h4 class="text-2xl font-xcrow_smb text-white">Multichain And Payment Channels</h4>
                            <p class="text-sm leading-7 text-gray-300">
                                We support traditional payment methods such es direct deposit
                                to a local bank, stipe, and Pay Pal, as well as multiple blockchain
                                network liko Ethercum, Solana etc.

                            </p>
                        </div>
                    </div>
                    <div class="flex flex-col md:space-x-6 md:flex-row">
                        <div class="x_crow_benefit_img_container mb-6 md:mb-0">
                            <img src="x_crow Asset/Group 11257.png" alt="Easy Conflict Resolution" class="x_crow_benefit_img_li">
                        </div>
                        <div class="flex flex-col space-y-2">
                            <h4 class="text-2xl font-xcrow_smb text-white">Easy Conflict Resolution</h4>
                            <p class="text-sm leading-7 text-gray-300">
                                We offen a community-based mediation service that lowers
                                dispute resolution costs and ensures that both parties reach an Agreement as quick as possible
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="benefit_bg_wrapper">
            <div class="relative"></div>
        </div>
    </section>

    <!-- X_Crow Customer Review -->
    <section id="customersReview">
        <div class="container mx-auto px-6 py-12 flex flex-col">
            <div class="flex flex-col justify-center mx-auto text-center">
                <h2 class="text-4xl font-xcrow_rg capitalize max-w-xl md:text-5xl">see what our customer are saying about us</h2>
            </div>
            <!-- customerReview slider card -->
            <div class="flex flex-col justify-between items-center py-12 md:flex-row md:space-x-16">
                <div class="py-8 px-6 border-2 rounded hover:border-0 hover:bg-white hover:shadow-xl border-gray-100 space-y-10 md:w-1/2 md:px-10">
                    <p class="text-sm leading-7 w-11/12">
                        "We have been waiting on this produot and now that we
                        have installed a few, We think it wil make the industry by
                        storm"
                    </p>
                    <div class="flex flex-col space-y-2">
                        <span class="text-lg text-xcrow_secondary font-xcrow_smb">J.Godspower</span>
                        <span class="text-sm">Software Engineer</span>
                    </div>
                </div>

                <div class="py-8 px-6 border-2 border-white rounded bg-white shadow-2xl space-y-10 md:w-1/2 hover:shadow-xl md:px-10">
                    <p class="text-sm leading-7 w-11/12">
                        "We have been waiting on this product and now that we
                        have installed a few, We think it will make the industry by
                        stonm." "We have been walting on this product and now
                        that we have installed a few. We think it will make the
                        Industry by storm"
                    </p>
                    <div class="flex flex-col space-y-2">
                        <span class="text-lg font-xcrow_smb">J.Godspower</span>
                        <span class="text-sm">Software Engineer</span>
                    </div>
                </div>
            </div>

            <div class="flex flex-row space-x-4 justify-center mt-2">
                <span class="review_counter"></span>
                <span class="review_counter"></span>
                <span class="review_counter review_active"></span>
                <span class="review_counter"></span>
            </div>
        </div>
    </section>

    <!-- X_Crow FAQs -->
    <section id="faqs">
        <div class="container mx-auto px-6 py-12 flex flex-col">
            <div class="flex flex-col justify-center mx-auto text-center">
                <h2 class="text-4xl font-xcrow_rg capitalize max-w-2xl md:text-5xl">frequently Asked Questions</h2>
            </div>

            <div class="py-10">
                <dl class="mt-8 mx-auto max-w-screen-md flex flex-col space-y-5 lg:flex-row lg:flex-wrap">
                    <div class="w-full">
                        <div class="question-and-answer select-none cursor-pointer border-2 border-gray-100 px-6 py-6 rounded-lg text-sm group md:px-10">
                            <dt class="question">
                                <div class="flex justify-between items-start space-x-6">
                                    <div class="text-gray-800 font-semibold">
                                        <h4 class="text-xl">What to do if i cant't make a transaction with my wallet</h4>
                                    </div>
                                    <div class="faq_line">
                                        <span class="faq_line1"></span>
                                        <span class="faq_line2"></span>
                                    </div>
                                </div>
                            </dt>
                            <dd class="answer hidden mt-4 leading-7 max-w-xl text-gray-700">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab mollitia, sequi reiciendis iure libero quis voluptatem expedita, nihil modi doloribus nemo distinctio quaerat beatae veniam possimus cumque alias sunt architecto.
                            </dd>
                        </div>
                    </div>
    
                    <div class="w-full">
                        <div class="question-and-answer select-none cursor-pointer border-2 border-gray-100 px-6 py-6 rounded-lg text-sm group md:px-10">
                            <dt class="question">
                                <div class="flex justify-between items-start space-x-6">
                                    <div class="text-gray-800 font-semibold faq_active">
                                        <h4 class="text-xl">What to do if i cant't make a transaction with my wallet</h4>
                                    </div>
                                    <div class="faq_line faq_active">
                                        <span class="faq_line1"></span>
                                        <span class="faq_line2"></span>
                                    </div>
                                </div>
                            </dt>
                            <dd class="answer mt-4 leading-7 max-w-xl text-gray-700">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab mollitia, sequi reiciendis iure libero quis voluptatem expedita, nihil modi doloribus nemo distinctio quaerat beatae veniam possimus cumque alias sunt architecto.
                            </dd>
                        </div>
                    </div>
    
                    <div class="w-full">
                        <div class="question-and-answer select-none cursor-pointer border-2 border-gray-100 px-6 py-6 rounded-lg text-sm group md:px-10">
                            <dt class="question">
                                <div class="flex justify-between items-start space-x-6">
                                    <div class="text-gray-800 font-semibold">
                                        <h4 class="text-xl">What to do if i cant't make a transaction with my wallet</h4>
                                    </div>
                                    <div class="faq_line">
                                        <span class="faq_line1"></span>
                                        <span class="faq_line2"></span>
                                    </div>
                                </div>
                            </dt>
                            <dd class="answer hidden mt-4 leading-7 max-w-xl text-gray-700">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab mollitia, sequi reiciendis iure libero quis voluptatem expedita, nihil modi doloribus nemo distinctio quaerat beatae veniam possimus cumque alias sunt architecto.
                            </dd>
                        </div>
                    </div>
                </dl>
            </div>
        </div> 
    </section>

    <!-- X_Crow CTA -->
    <section id="cta">
        <div class="container mx-auto px-6 py-12 flex flex-col relative">
            <div class="w-full flex flex-col justify-between xcrow_theme_bg_2 md:flex-row">
                <div class="px-6 py-14 md:max-w-2xl md:px-16">
                    <div class="space-y-4">
                        <h3 class="text-3xl text-white font-semibold">X_Crow is your Reliable Decentralized Service provider</h3>
                        <p class="text-sm text-white">X_Crow provides trust and confidence when creating a contract with anonymous</p>
                    </div>
                    <div class="mt-10 relative">
                        <button class="px-6 text-white text-sm py-4 bg-xcrow_secondary rounded md:px-16">Create Contract</button>
                    </div>
                </div>
                <div>
                    <div class="xcrow_cta_img">
                        <img src="x_crow Asset/Group 11261.png" alt="">
                    </div> 
                </div>
            </div>
        </div>
    </section>

    <!-- X_Crow footer -->
    <footer id="footer">
        <div class="container mx-auto px-6 pt-12 flex flex-col">
            <div class="flex flex-col justify-between md:flex-row border-b-2 border-gray-100 pb-6">
                <div class="space-y-5 md:w-4/12">
                    <h1 class="text-2xl font-xcrow_bold text-black">X_Crow</h1>
                    <h3 class="text-3xl font-xcrow_rg font-semibold text-black">Our insight to your inbox.</h3>
                    <form action="">
                        <div class="flex flex-row">
                            <input type="text" class="appearance-none border border-gray-300 rounded-xl w-full py-5 px-6 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Your email address">
                            <button class="-ml-6 rounded-xl bg-xcrow_secondary text-white py-2 px-3 relative xcrow_icon">
                                <i class='bx bx-chevron-right text-4xl inline-block relative'></i>
                            </button>
                        </div>
                    </form>
                    <div class="flex flex-col py-3">
                        <ul class="flex flex-row space-x-1">
                            <li class="bg-black w-5 h-5 text-sm text-center text-white rounded-full box-content p-1"><i class='bx bxl-linkedin inline-block align-middle'></i></li>
                            <li class="bg-black w-5 h-5 text-sm text-center text-white rounded-full box-content p-1"><i class='bx bxl-instagram inline-block align-middle'></i></li>
                            <li class="bg-black w-5 h-5 text-sm text-center text-white rounded-full box-content p-1"><i class='bx bxl-facebook inline-block align-middle'></i></li>
                            <li class="bg-black w-5 h-5 text-sm text-center text-white rounded-full box-content p-1"><i class='bx bxl-twitter inline-block align-middle'></i></li>
                        </ul>
                    </div>
                </div>
                <div class="md:w-6/12">
                    <div class="flex flex-col justify-between space-y-10 mt-10 md:flex-row md:space-y-0 md:mt-0">
                        <div class="flex flex-col space-y-6">
                            <h3 class="text-xl font-xcrow_rg text-black font-semibold">Features</h3>
                            <ul class="space-y-4 text-base text-gray-700">
                                <li>Contract</li>
                                <li>Payment</li>
                                <li>Resolution Center</li>
                            </ul>
                        </div>
                        <div class="flex flex-col space-y-6">
                            <h3 class="text-xl font-xcrow_rg text-black font-semibold">Company</h3>
                            <ul class="space-y-4 text-base text-gray-700">
                                <li>Blog</li>
                                <li>Career</li>
                                <li>About Us</li>
                            </ul>
                        </div>
                        <div class="flex flex-col space-y-6">
                            <h3 class="text-xl font-xcrow_rg text-black font-semibold">Help</h3>
                            <ul class="space-y-4 text-base text-gray-700">
                                <li>FAQs</li>
                                <li>Contact Us</li>
                                <li>Terms Of Service</li>
                            </ul>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="flex flex-col justify-between space-y-4 py-7 md:flex-row font-xcrow_rg md:space-y-0">
                <div><h5 class="text-sm">2022@x_crow</h5></div>
                <div><h5 class="text-sm">Developed by <span class="text-xcrow_default font-xcrow_bold tracking-wider">DFMlab</span></h5></div>
            </div>
        </div> 
    </footer>
    <!-- script -->
    <script src="js/script.js"></script>
</body>
</html>