@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "adreg";
    src: url("/public/assets/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Regular.ttf");
  }

  @font-face {
    font-family: "adbold";
    src: url("/public/assets/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Bold.ttf");
  }
}

*{
  background-color: inherit;
}

body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  font-family: "wasset-reg";
}

.navlinks {
  border-radius: 40px;
}

.navlinks > a {
  border-radius: 40px;
  @apply flex justify-center items-center text-center px-5 py-2 min-w-[80px];
}

.navBtnIcon:hover > .btnIconInner {
  @apply bg-secondary transition duration-150 ease-out hover:ease-in;
}

.navlinks > a:hover {
  @apply bg-secondary transition duration-150 ease-out hover:ease-in;
}

.heroBtn > button:hover {
  @apply bg-secondary transition duration-150 ease-out hover:ease-in;
}

@media (min-width: 480px) {
  .featureList > div:nth-child(even) {
    margin-left: 8.333333%;
  }
}

.shadow_primary {
  box-shadow: rgba(50, 50, 93, 0.1) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.05) 0px 30px 60px -30px;
}

.customer_quote {
  width: 150px;
  background-color: transparent;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 3rem;
  overflow: hidden;
  z-index: 1;
}

.customer_quote {
  color: rgba(101, 101, 101, 0.03);
  vertical-align: baseline;
  width: 80px;
  height: 80px;
  opacity: 0.8;
}

.auth-wrapper {
  @apply bg-dark min-h-screen py-20;
}

/* .buttonAuth  */
/* .{
  border-image: linear-gradient(180deg, #6413F1, #ab006f) 1;
} */
.buttonAuth {
  background: linear-gradient(#010910, #010910) padding-box,
    linear-gradient(180deg, #6413f1, #ab006f) border-box;
  border: 1px solid transparent;
  @apply rounded-md;
}

.authDivider::before {
  content: "";
  width: 100%;
  position: absolute;
  z-index: 9;
  @apply border border-gray-800/80;
}

/* Dashboard Style start here */
.max-w-navx{
  width: 15rem;
  position: relative;
  float: left;
}
.sidenav_adehun{
  height: calc(100vh - 17.25rem);
  background-color: transparent;
}
.main-adehun{
  width: calc(100% - 15rem);
  position: absolute;
  top: 0;
  overflow-x: auto;
  float: left;
  margin-left: 15rem;
}
.status_card{
  position: relative;
  float: left;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.status_card::before{
  content: "";
  width: 5px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  left: 0;
  border-radius: 100%;
}
.dashwarning{
  background-color: #3f2555;
  color: #b142c4;
}
.dashdanger{
  background-color: #681551;
  color: #e80d8d;
}
.dashsuccess{
  background-color: #145a37;
  color: #1eff5b;
}

/* Preloader */
.loader-ring-1{
  position: relative;
  float: left;
}
.loader-ring-1::after {
  content: "";
  width: 85%;
  height: 85%;
  @apply bg-gray-700;
  position: absolute;
  border-radius: 100%;
}
.loader-ring-1x{
  position: relative;
  float: left;
}
.loader-ring-1x::after {
  content: "";
  width: 85%;
  height: 85%;
  @apply bg-white/80;
  position: absolute;
  border-radius: 100%;
}
.loader-ring-2{
  position: relative;
  float: left;
}
.loader-ring-2::after {
  content: "";
  width: 60%;
  height: 60%;
  @apply bg-secondary;
  position: absolute;
  border-radius: 100%;
}
.loader-wrapper{
  position: relative;
  -webkit-animation: scale-up-center 5s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite;
	animation: scale-up-center 5s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite;
}
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50%{
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50%{
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* Preloader ends here */

/* Invoice style */
.invoice-wrapper > div {
  @apply border-b border-gray-500/50 pb-10;
}
.invoice-wrapper > div:last-child {
  border: none;
  padding-bottom: 0;
}
/* Invoice style ends here */