<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adehun Login</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- login conainer -->
    <section id="xcrow_contract">
        <div class="w-full min-h-screen contract_bg">
            <div class="container px-6 flex flex-col justify-between mx-auto">
                <!-- navigation button -->
                <div class="relativ w-full">
                    <!-- hero header -->
                    <nav class="py-9">
                        <a href="../index.html">
                            <button class="border border-gray-400 p-1 rounded text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                                  </svg>
                            </button>
                        </a>
                    </nav>
                </div>
            </div>
             <!-- login form section -->
             <div class="container px-6 flex flex-col mx-auto pb-24">
                <div class="max-w-md flex flex-col space-y-12 mx-auto mt-10">
                    <h1 class="text-2xl text-white font-xcrow_rg text-left">a dehun</h1>
                    <div class="space-y-5 text-left">
                        <h3 class="text-4xl md:text-5xl font-xcrow_smb text-white capitalize">Welcome to Adehun</h3>
                        <p class="text-md text-white">An application that is intended to be used for protecting all forms of online transaction involving money transfer using cryptocurrency</p>
                    </div>
                    <!-- login form -->
                    <form action="">
                        <div class="w-full flex flex-col space-y-10">
                            <div class="relative form-input">
                                <div class="relative mt-2">
                                    <div class="w-full flex flex-row space-x-4 items-center">
                                        <div class="h-10 flex items-center text-white">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgb(255, 255, 255);transform: ;msFilter:;"><path d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z"></path></svg>
                                        </div>
                                        <input type="text" id="contractamount" placeholder="Enter your email" class="py-2 h-10 border-b w-full bg-transparent border-gray-400 focus:outline-none focus:shadow-outline text-white text-base pr-32">
                                    </div>
                                </div> 
                            </div>  
                            <!-- submit button -->
                            <div class="relative flex flex-col pt-8">
                                <button class="bg-xcrow_secondary w-full px-4 py-4 rounded-xl text-white text-base">Send me an OTP</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>