<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section id="header" class="bg-xcrow_default">
        <div class="container px-6 flex flex-col mx-auto">
            <nav class="flex flex-row space-x-5 items-center py-6">
                <a href="#" class="outline-none">
                    <img src="../x_crow Asset/Logo/Group 37467.svg" alt="My Contract" class="contract_header_logo">
                </a>
                <h4 class="text-base text-white font-xcrow_smb">My Contract</h4>
            </nav>
            <div class="bg-white flex flex-col pt-2 px-8">
                <div class="flex flex-col justify-between py-3 md:flex-row md:space-x-4 md:items-center">
                    <h3 class="font-xcrow_smb text-base">ghostworkspace@gmail.com</h3>
                    <button class="text-sm bg-xcrow_secondary px-6 py-2 rounded text-white mt-2 md:mt-0 outline-none">Add New Contract</button>
                </div>
                <div class="text-sm font-medium text-center text-gray-500">
                    <ul class="flex flex-nowrap -mb-px whitespace-nowrap overflow-x-auto">
                        <li class="mr-4">
                            <a href="#" class="inline-block p-2 border-b-2 hover:text-gray-600 hover:border-gray-300 border-xcrow_secondary text-xcrow_secondary font-xcrow_smb outline-none"  aria-current="contract">Contract List</a>
                        </li>
                        <li class="mr-4">
                            <a href="#" class="inline-block p-2 text-gray-600 hover:text-xcrow_secondary hover:border-xcrow_secondary font-xcrow_smb hover:border-b-2 outline-none">Active Contract</a>
                        </li>
                        <li class="mr-4">
                            <a href="#" class="inline-block p-2 text-gray-600 hover:text-xcrow_secondary hover:border-xcrow_secondary font-xcrow_smb hover:border-b-2 outline-none">Conflict Resolution</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container px-6 flex flex-col mx-auto pb-8">
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg pb-4 pt-1">
                <div class="p-4">
                    <div class="flex flex-row space-x-6 justify-between items-center">
                        <div>
                            <ul class="inline-flex">
                                <li>
                                    <button class="h-10 px-5 text-gray-700  border border-r-0 border-gray-300 bg-xcrow_secondary bg-opacity-20 rounded-l-md focus:shadow-outline text-sm outline-none">1-10</button>  
                                    <!-- Dropdown menu -->
                                    <ul class="py-1 text-sm text-gray-700 bg-gray-50 hidden absolute" aria-labelledby="dropdownDefault">
                                        <li>
                                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">1-10</a>
                                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">11-20</a>
                                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">21-30</a>
                                        </li>
                                    </ul>
                                </li>                                
                                <li><button class="h-10 px-5 text-gray-700 border border-gray-300 rounded-r-md focus:shadow-outline bg-gray-50 text-sm outline-none">Records per page</button></li>
                            </ul>
                        </div>
                        <div>
                            <label for="table-search" class="sr-only">Search</label>
                            <div class="relative mt-1">
                                <div class="absolute inset-y-0 left-0 flex items-center px-3 rounded-md pointer-events-none bg-xcrow_secondary bg-opacity-20 text-gray-700">
                                    <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                                </div>
                                <input type="text" id="table-search" class="bg-gray-50 border text-gray-700 border-gray-300 text-sm rounded-md block w-80 pl-14 h-10 outline-none" placeholder="Search by depositor's email">
                            </div>
                        </div>
                    </div>
                </div>
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mt-2">
                    <thead class="text-xs text-gray-700 uppercase font-xcrow_smb bg-xcrow_secondary bg-opacity-20">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                S/N
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Contract Creator
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Blockchain Network
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Project Value
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Project Title
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b text-sm font-xcrow_rg hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="px-6 py-4">
                                001
                            </td>
                            <td class="px-6 py-4">
                                ghostworkspace@gmail.com
                            </td>
                            <td class="px-6 py-4">
                                Celo
                            </td>
                            <td class="px-6 py-4">
                                $1000 cUSD
                            </td>
                            <td class="px-6 py-4">
                                Build a house
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <a href="#" class="font-semibold text-xcrow_secondary hover:underline outline-none">View Details</a>
                            </td>
                        </tr>
                        <tr class="bg-white border-b text-sm font-xcrow_rg hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="px-6 py-4">
                                002
                            </td>
                            <td class="px-6 py-4">
                                ghostworkspace@gmail.com
                            </td>
                            <td class="px-6 py-4">
                                Celo
                            </td>
                            <td class="px-6 py-4">
                                $1000 cUSD
                            </td>
                            <td class="px-6 py-4">
                                Build a house
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <a href="#" class="font-semibold text-xcrow_secondary hover:underline outline-none">View Details</a>
                            </td>
                        </tr>
                        <tr class="bg-white border-b text-sm font-xcrow_rg hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="px-6 py-4">
                                003
                            </td>
                            <td class="px-6 py-4">
                                ghostworkspace@gmail.com
                            </td>
                            <td class="px-6 py-4">
                                Celo
                            </td>
                            <td class="px-6 py-4">
                                $3400 cUSD
                            </td>
                            <td class="px-6 py-4">
                                consectetur a house
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <a href="#" class="font-semibold text-xcrow_secondary hover:underline outline-none">View Details</a>
                            </td>
                        </tr>
                        <tr class="bg-white border-b text-sm font-xcrow_rg hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="px-6 py-4">
                                004
                            </td>
                            <td class="px-6 py-4">
                                ghostworkspace@gmail.com
                            </td>
                            <td class="px-6 py-4">
                                Celo
                            </td>
                            <td class="px-6 py-4">
                                $9000 cUSD
                            </td>
                            <td class="px-6 py-4">
                                Build a house
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <a href="#" class="font-semibold text-xcrow_secondary hover:underline outline-none">View Details</a>
                            </td>
                        </tr>
                        <tr class="bg-white border-b text-sm font-xcrow_rg hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="px-6 py-4">
                                005
                            </td>
                            <td class="px-6 py-4">
                                ghostworkspace@gmail.com
                            </td>
                            <td class="px-6 py-4">
                                Celo
                            </td>
                            <td class="px-6 py-4">
                                $3000 cUSD
                            </td>
                            <td class="px-6 py-4">
                                Build a house
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <a href="#" class="font-semibold text-xcrow_secondary hover:underline outline-none">View Details</a>
                            </td>
                        </tr>
                        <tr class="bg-white border-b text-sm font-xcrow_rg hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="px-6 py-4">
                                006
                            </td>
                            <td class="px-6 py-4">
                                ghostworkspace@gmail.com
                            </td>
                            <td class="px-6 py-4">
                                Celo
                            </td>
                            <td class="px-6 py-4">
                                $3000 cUSD
                            </td>
                            <td class="px-6 py-4">
                                Build a house
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <a href="#" class="font-semibold text-xcrow_secondary hover:underline outline-none">View Details</a>
                            </td>
                        </tr>
                        <tr class="bg-white border-b text-sm font-xcrow_rg hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="px-6 py-4">
                                007
                            </td>
                            <td class="px-6 py-4">
                                ghostworkspace@gmail.com
                            </td>
                            <td class="px-6 py-4">
                                Celo
                            </td>
                            <td class="px-6 py-4">
                                $3000 cUSD
                            </td>
                            <td class="px-6 py-4">
                                Build a house
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <a href="#" class="font-semibold text-xcrow_secondary hover:underline outline-none">View Details</a>
                            </td>
                        </tr>
                        <tr class="bg-white border-b text-sm font-xcrow_rg hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="px-6 py-4">
                                008
                            </td>
                            <td class="px-6 py-4">
                                ghostworkspace@gmail.com
                            </td>
                            <td class="px-6 py-4">
                                Celo
                            </td>
                            <td class="px-6 py-4">
                                $3000 cUSD
                            </td>
                            <td class="px-6 py-4">
                                Build a house
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <a href="#" class="font-semibold text-xcrow_secondary hover:underline outline-none">View Details</a>
                            </td>
                        </tr>
                        <tr class="bg-white border-b text-sm font-xcrow_rg hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="px-6 py-4">
                                009
                            </td>
                            <td class="px-6 py-4">
                                ghostworkspace@gmail.com
                            </td>
                            <td class="px-6 py-4">
                                Celo
                            </td>
                            <td class="px-6 py-4">
                                $3000 cUSD
                            </td>
                            <td class="px-6 py-4">
                                Build a house
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <a href="#" class="font-semibold text-xcrow_secondary hover:underline outline-none">View Details</a>
                            </td>
                        </tr>
                        <tr class="bg-white border-b text-sm font-xcrow_rg hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="px-6 py-4">
                                010
                            </td>
                            <td class="px-6 py-4">
                                ghostworkspace@gmail.com
                            </td>
                            <td class="px-6 py-4">
                                Celo
                            </td>
                            <td class="px-6 py-4">
                                $3000 cUSD
                            </td>
                            <td class="px-6 py-4">
                                Build a house
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <a href="#" class="font-semibold text-xcrow_secondary hover:underline outline-none">View Details</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="flex justify-center">
                    <ul class="inline-flex -space-x-px relative py-6">
                        <li >                          
                          <a href="#" class="py-2 px-2 ml-0 leading-tight text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700 outline-none"><i class='bx bx-left-arrow-alt'></i> Previous</a>
                        </li>
                        <li>
                          <a href="#" class="py-2 px-2 leading-tigh bg-xcrow_secondary bg-opacity-50 text-white hover:bg-gray-100 hover:text-gray-700 outline-none">1</a>
                        </li>
                        <li>
                          <a href="#" class="py-2 px-2 leading-tight text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700 outline-none">2</a>
                        </li>
                        <li>
                            <a href="#" class="py-2 px-2 leading-tight text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700 outline-none">3</a>
                          </li>
                        <li>
                          <a href="#" class="py-2 px-2 leading-tight text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700 outline-none">4</a>
                        </li>
                        <li>
                          <a href="#" class="py-2 px-2 leading-tight text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700 outline-none">5</a>
                        </li>
                        <li>
                          <a href="#" class="py-2 px-2 leading-tight text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700 outline-none">Next  <i class='bx bx-right-arrow-alt' ></i></a>                         
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </section>
</body>
</html>